@model server.Models.TransferTransactionModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TransferTransactionModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromPlayerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromPlayerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToPlayerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToPlayerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CVAAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CVAAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoldAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoldAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GemAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GemAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
