@model server.Models.ItemModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ItemModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Picture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CVA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CVA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Energy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Energy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemGroupRefID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemGroupRefID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
