@model IEnumerable<server.Models.ItemModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
<form asp-action="Search">
    <input type="text" name="column" />
    <input type="text" name="value" />
    <input type="submit" />
</form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CVA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Energy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemGroupRefID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Picture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CVA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Energy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemGroupRefID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
